$color-bg: #CCC;
$color-gray: #AAA;
$color-gray-light: #CCC;

$header-height: 80px;

$text-color: black;

$hamburger_w: 30px;
$hamburger_h: 3px;
$hamburger_border_radius: 5px;
$hamburger-color: black;